{% extends 'base_user.html' %}

{% block content %}

<title>Herds in the Field</title>

<h3 class="text-uppercase" style="text-align: center; margin: 30px;">
    Herds in - <a style="color:blue;" href="{% url 'my_farm:field_detail' field.id %}">{{ field.name }}</a> - field
</h3>

<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr class="column-names-fields">
      <th>Herd Name</th>
      <th>Active</th>
      <th>Location</th>
      <th>Herd Leader</th>
      <th>Number of Cattle</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for herd in herd_list %}
    <tr>
      <td>
        <a href="{% url 'my_farm:herd_detail' herd.id %}">{{ herd.name }}</a>
      </td>
      <td>{{ herd.is_active }}</td>
      <td>{{ herd.location }}</td>
      <td>{{ herd.herd_leader }}</td>
        <td>
        <a href="{% url 'my_farm:cattle_list_by_herd' herd.id %}">{{ herd.count_cattle }}</a>
      </td>
      <td>{{ herd.description }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No herds in the field.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}