.card {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    textarea,
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }

    select {
      appearance: none;
      background-color: #ffffff;
      background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
      background-repeat: no-repeat;
      border: 1px solid #ccc;
      padding: 8px 20px;
      cursor: pointer;
    }


    .errorlist {
      display: none;
    }

    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }

    .btn-custom {
      display: inline-block;
      margin-top: 20px;
}