


    .table-bordered tbody tr:hover {
      background-color: #e8e8e8;
    }

    .table-bordered thead tr.column-names {
      background-color: #e9e9e9;
    }


    .table-bordered tbody tr:nth-child(even):not(:hover) {
      background-color: #f9f9f9;
    }

    .table-bordered tbody tr:nth-child(odd):not(:hover) {
      background-color: #ffffff;
    }

    /* Adjusting table size */
    .table-bordered {
      font-size: 16px;
      padding: 5px;
      max-width: auto;
      color: #444444;/* Adjust the max-width as needed */
      merge: 20px;
    }


  .table-bordered th,
  .table-bordered td {
    border: 1px solid #b8b8b8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .herd-detail {
  background-color: #eddba6;
  }

    .field-detail {
  background-color: #c8dbc3;
  }

      .cattle-detail {
  background-color: #ceddde;
  }

    .table-bordered thead th {
      background-color: #d4d3cd;
      border-bottom-color: #b8b8b8;
    }

    .report-info {
      margin: 20px;
    }

    .table-bordered a {
        color: blue; /* Set link color to blue */
        text-decoration: underline; /* Add underline to links */
    }

    .bordered-herd a:hover {
        color: #b5a369; /* Change link color on hover */
    }


    .table-bordered a:hover {
        color: #2a5298; /* Change link color on hover */
    }


  .table-bordered thead tr.column-names-herds th {
    background-color: #eddba6;
    border-bottom-color: #b8b8b8;
  }

    .table-bordered thead tr.column-names-groups th {
    background-color: #ceddde;
    border-bottom-color: #b8b8b8;
  }

    .table-bordered thead tr.column-names-fields th {
    background-color: #bbd1b6;
    border-bottom-color: #b8b8b8;
  }


.table-responsive {
    width: 100%;
    overflow-x: auto;
  }

.beginning-pcs-cell,
.beginning-kg-cell {
  background-color:#f2d6cb;
}

.end-pcs-cell,
.end-kg-cell {
  background-color: #dce3f5;
}