{% extends 'base_user.html' %}

{% block content %}
  {% load static %}

<div class="container-fluid mt-3 mb-3">
  <section id="summary">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Your farm summary</h4>
        <div style="height: 20px;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <a href="{% url 'my_farm:cattle_info' %}?query_loss_method_null=True">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="{% static 'img/cattle.png' %}" width="60" height="60" alt="Cattle Icon">
                  </div>
                  <div class="media-body text-center">
                    <h3>{{ total_cattle_count }}</h3>
                    <span>Current Livestock </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <a href="{% url 'my_farm:group_data' group_name='Cows' %}">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="{% static 'img/cow3.png' %}" width="60" height="60" alt="Cow Icon">
                  </div>
                  <div class="media-body text-center">
                      {% for group in groups %}
                        {% if group.group_name == 'Cows' %}
                          <h3>{{ group.active_cattle }}</h3>
                          <span>Cows</span>
                        {% endif %}
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
         <a href="{% url 'my_farm:group_data' group_name='Calves' %}">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="{% static 'img/calve1.png' %}" width="60" height="60" alt="Calve Icon">
                  </div>
                  <div class="media-body text-center">
                      {% for group in groups %}
                        {% if group.group_name == 'Calves' %}
                          <h3>{{ group.active_cattle }}</h3>
                          <span>Calves</span>
                        {% endif %}
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <a href="{% url 'my_farm:group_data' group_name='Young_Heifer' %}">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <img src="{% static 'img/youngcow.png' %}" width="60" height="60" alt="Young Heifer Icon">
                  </div>
                  <div class="media-body text-center">
                    {% for group in groups %}
                        {% if group.group_name == 'Young_Heifer' %}
                    <h3>{{ group.active_cattle }}</h3>
                    <span>Young Heifers</span>
                    {% endif %}
                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <a href="{% url 'my_farm:group_data' group_name='Adult_Heifer' %}">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    {% for group in groups %}
                        {% if group.group_name == 'Adult_Heifer' %}
                    <h3>{{ group.active_cattle }}</h3>
                    <span>Adult Heifers</span>
                    {% endif %}
                      {% endfor %}
                  </div>
                  <div class="align-self-center">
                    <img src="{% static 'img/cowcow.png' %}" width="60" height="60">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <a href="{% url 'my_farm:group_data' group_name='Young_Bull' %}">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    {% for group in groups %}
                        {% if group.group_name == 'Young_Bull' %}
                    <h3>{{ group.active_cattle }}</h3>
                    <span>Young Bulls</span>
                    {% endif %}
                      {% endfor %}
                  </div>
                  <div class="align-self-center">
                    <img src="{% static 'img/youngbull.png' %}" width="60" height="60" alt="Young Bull Icon">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <a href="{% url 'my_farm:group_data' group_name='Adult_Bull' %}">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    {% for group in groups %}
                        {% if group.group_name == 'Adult_Bull' %}
                    <h3>{{ group.active_cattle }}</h3>
                    <span>Adult Bulls</span>
                    {% endif %}
                      {% endfor %}
                  </div>
                  <div class="align-self-center">
                    <img src="{% static 'img/adultbull.png' %}" width="60" height="60" alt="Adult Bull Icon">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <a style="background-color: #fcecc0;" href="{% url 'my_farm:herd_list' %}?is_active=True">
          <div class="card mb-3" style="background-color: #fcecc0;">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h4 class="primary">{{ active_herds_count }}</h4>
                    <span>Active Herds</span>
                  </div>
                  <div class="align-self-center">
                    <img src="{% static 'img/herd.png' %}" width="60" height="60" alt="Active Herds Icon">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

<div class="row" style="display: flex;">
  <div class="col-xl-9 col-sm-6 col-12">
    <div class="card mb-3" style="flex: 1; height: 80%;">
      <div class="card-content">
        <div class="card-body">
          <div class="media d-flex">
<div class="text-center">
  <a href="{% url 'my_farm:generate_report' %}" class="d-inline-block" style="font-size: 20px;">
    Livestock movement report
  </a>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 col-12">
    <a href="{% url 'my_farm:field_list' %}?is_active=True">
      <div class="card mb-3" style="background-color: #e1f2e6; height: 80%;">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
             <div class="align-self-center">
                <img src="{% static 'img/fields.png' %}" width="60" height="60">
              </div>
              <div class="media-body text-center">
                <h3 class="primary">{{ active_field_count }}</h3>
                <span>Active Fields</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>




  </section>
</div>

{% endblock %}