<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Design</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
  <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div class="grey-bg container-fluid pt-3 pb-3">
    <section id="minimal-statistics" class="mb-3">
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <h4 class="text-uppercase">Minimal Statistics Cards</h4>
          <p>Statistics on minimal cards.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-pencil primary font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>278</h3>
                    <span>New Posts</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-speech warning font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>156</h3>
                    <span>New Comments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-graph success font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>64.89 %</h3>
                    <span>Bounce Rate</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-pointer danger font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <h3>423</h3>
                    <span>Total Visits</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="stats-subtitle" class="mb-3">
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <h4 class="text-uppercase">Statistics With Subtitle</h4>
          <p>Statistics on minimal cards with Title &amp; Sub Title.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-md-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media align-items-stretch">
                  <div class="align-self-center">
                    <i class="icon-pencil primary font-large-2 mr-2"></i>
                  </div>
                  <div class="media-body">
                    <h4>Total Posts</h4>
                    <span>Monthly blog posts</span>
                  </div>
                  <div class="align-self-center">
                    <h1>18,000</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media align-items-stretch">
                  <div class="align-self-center">
                    <i class="icon-speech warning font-large-2 mr-2"></i>
                  </div>
                  <div class="media-body">
                    <h4>Total Comments```html
</h4>
                    <span>Monthly blog comments</span>
                  </div>
                  <div class="align-self-center">
                    <h1>84,695</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-md-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media align-items-stretch">
                  <div class="align-self-center">
                    <h1 class="mr-2">$76,456.00</h1>
                  </div>
                  <div class="media-body">
                    <h4>Total Sales</h4>
                    <span>Monthly Sales Amount</span>
                  </div>
                  <div class="align-self-center">
                    <i class="icon-heart danger font-large-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-12">
          <div class="card mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="media align-items-stretch">
                  <div class="align-self-center">
                    <h1 class="mr-2">$36,000.00</h1>
                  </div>
                  <div class="media-body">
                    <h4>Total Cost</h4>
                    <span>Monthly Cost</span>
                  </div>
                  <div class="align-self-center">
                    <i class="icon-wallet success font-large-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
