{% extends "base_auth.html" %}
{% block content %}

<html>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="login-card">
                <div class="card-header">
                    <span class="form-heading">Login to continue</span>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Enter username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Enter password" required>
                                <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility('{{ form.password.id_for_label }}', 'togglePasswordIcon1')">
                                    <i id="togglePasswordIcon1" class="fas fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" name="{{ form.remember_me.name }}" id="{{ form.remember_me.id_for_label }}" class="form-check-input" style="transform: scale(1.5);">
                            <label class="form-check-label text-white" for="{{ form.remember_me.id_for_label }}">Remember Me</label>
                        </div>
                        <button type="submit" class="btn btn-success login-button">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}