{% extends 'base_user.html' %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">

    <title>User Profile</title>
    <div class="d-flex justify-content-center">
        <div class="profile-card">
            <h2 class="form-heading">Authorized User</h2>
            <div class="profile-info">
                <h1>{{ username }}</h1>
                <p>{{ email }}</p>

                <div class="button-container">
                    <a href="{% url 'password_change' %}" class="btn btn-block">Change password</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

