{% extends 'base_user.html' %}

{% block content %}
<head>
  <title>Add Cattle</title>

</head>

<body>
  <h3 class="text-uppercase" style="text-align: center; margin: 20px;">Add Cattle</h3>
  <div class="card-cattle">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.number.id_for_label }}" class="label-cattle">Number:</label>
        {{ form.number }}
      </div>
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}" class="label-cattle">Name:</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label for="{{ form.gender.id_for_label }}" class="label-cattle">Gender:</label>
        {{ form.gender }}
      </div>
      <div class="form-group">
        <label for="{{ form.breed.id_for_label }}" class="label-cattle">Breed:</label>
        {{ form.breed }}
      </div>
      <div class="form-group">
        <label for="{{ form.birth_date.id_for_label }}" class="label-cattle">Birth Date:</label>
        {{ form.birth_date }}
      </div>
      <div class="form-group">
        <label for="{{ form.acquisition_method.id_for_label }}" class="label-cattle">Acquisition Method:</label>
        {{ form.acquisition_method }}
      </div>
      <div class="form-group">
        <label for="{{ form.entry_date.id_for_label }}" class="label-cattle">Entry Date:</label>
        {{ form.entry_date }}
      </div>
      <div class="form-group">
        <label for="{{ form.loss_method.id_for_label }}" class="label-cattle">Loss Method:</label>
        {{ form.loss_method }}
      </div>
      <div class="form-group">
        <label for="{{ form.end_date.id_for_label }}" class="label-cattle">End Date:</label>
        {{ form.end_date }}
      </div>
      <div class="form-group">
        <label for="{{ form.comments.id_for_label }}" class="label-cattle">Comments:</label>
        {{ form.comments }}
      </div>
      <div class="form-group">
        <label for="{{ form.picture.id_for_label }}" class="label-cattle">Picture:</label>
        {{ form.picture }}
      </div>
      <div class="form-group">
        <label for="id_herd" class="label-cattle">Herd:</label>
        <select class="form-control" id="id_herd" name="herd">
          {% for herd in herd_queryset %}
            <option value="{{ herd.id }}">{{ herd.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-custom">Add cattle information</button>
    </form>
  </div>

</body>

{% endblock %}
