{% extends 'base_user.html' %}
{% block content %}

<title>Cearch Cttle</title>

<body>

<p></p>

<form method="GET" action="{% url 'my_farm:search_cattle' %}">
    <input type="text" name="query" value="{{ query }}" placeholder="Search Cattle">
    <button type="submit">Search</button>
</form>


    <h3 style="text-align: center; margin: 20px;">-{{ query }}- search result</h3>



    <div class="table-responsive">
        <div class="table-container">
            <table class="table table-bordered">
        <thead>
            <tr class="column-names">
              <th>Type</th>
              <th>Number</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Breed</th>
              <th>Birth date</th>
              <th>Acquisition method</th>
              <th>Entry date</th>
              <th>Loss method</th>
              <th>End date</th>
              <th>Comments</th>
            </tr>
          </thead>
        <tbody>
            {% for cattle in cattle_list %}
            <tr>
                <td>{{ cattle.type }}</td>
<td>
        <a href="{% url 'my_farm:cattle_detail' cattle.id %}">{{ cattle.number }}</a>
      </td>
                <td>{{ cattle.name }}</td>
                <td>{{ cattle.gender }}</td>
                <td>{{ cattle.breed }}</td>
                <td>{{ cattle.birth_date|date:"Y-m-d" }}</td>
                <td>{{ cattle.acquisition_method }}</td>
                <td>{{ cattle.entry_date|date:"Y-m-d" }}</td>
                <td>{{ cattle.loss_method }}</td>
                <td>{{ cattle.end_date|date:"Y-m-d" }}</td>
                <td>
                <div id="comments-short-{{ cow.id }}">{{ cattle.comments|truncatechars:5 }}</div>
                <div id="comments-full-{{ cow.id }}" style="display: none;">{{ cattle.comments }}</div>
                <small><a href="#" data-cattle-id="{{ cow.id }}" data-action="toggle-comments" onclick="toggleComments({{ cow.id }}); return false;" style="display: inline;">Show More</a></small>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No cattle found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</body>

{% endblock %}